<div class="container">
  <div class="d-flex gap-5 justify-content-between mt-4">
    <h3 class="mb-0">Total <%= @places.count %> Places</h3>
    <a class="btn btn-primary" href=<%= new_place_path %> >Add new place</a>
  </div>
  <% @places.each do |place| %>
    <div class="card p-4 mt-5 shadow-sm">
      <div class="d-flex gap-5 align-items-center justify-content-between mb-4">
        <div class="">
          <h4 class="mb-0"><%= place.name %></h4>
          <p class="mb-0">Visted at <%= place.date %></p>
        </div>
        <a class="btn btn-primary" href=<%= place_path(place) %> >Review this place...</a>
      </div>
      <div class="lazy_carousel">
        <% place.images.each do |image| %>
          <div class="carousel_image">
            <%= image_tag image %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
